body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: var(--colod-dark);

  &.is-lock {
    overflow: hidden;
  }
}

html, body {
  scrollbar-gutter: stable;
}

html, body, #root, .app {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
