.visible-mobile {
    @media (min-width: 1025px) {
        display: none !important;
    }
}

.hidden-mobile {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.container {
    --container-padding: 20px;
    max-width: calc(520px + var(--container-padding));
    margin-inline: auto;
    padding-inline: var(--container-padding);
}
