@import "@/shared/styles/mixin.pcss";

.change-password {
  display: grid;
  row-gap: 35px;

  &__title {
    text-align: center;
  }

  &__inputs {
    display: grid;
    row-gap: 12px;
  }

  &__submit {
    display: grid;
    row-gap: 10px;
  }

  &__error {
    text-align: center;
  }
}