@import "@/shared/styles/mixin.pcss";

.create-chat {
    display: grid;
    row-gap: 35px;

    &__title {
        text-align: center;
    }

    &__submit {
        display: grid;
        row-gap: 12px;
        text-align: center;
    }
}