@import "@/shared/styles/mixin.pcss";

.button {
    color: var(--color-white);
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    height: 37px;
    border-radius: 8px;
    background-color: var(--color-blue);
    width: 100%;

    &:hover {
        opacity: 0.75;
    }
}