@import "@/shared/styles/mixin.pcss";

.sign-in {
  &__title {
    margin-bottom: var(--wrapper-body-margin-title);
    text-align: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: var(--wrapper-body-row-gap-inputs);
    margin-bottom: 46px;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: var(--wrapper-body-row-gap-actions);
  }
}