@import "@/shared/styles/mixin.pcss";

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  align-items: end;

  &::-webkit-scrollbar {
    display: none;
  }

  &__message {
    &-list {
      display: grid;
      row-gap: 10px;
      padding-block: 30px;
    }

    &-item {
      display: grid;
    }
  }
}