@import "@/shared/styles/mixin.pcss";

.chat-body__main {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  align-items: end;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    display: grid;
    row-gap: 10px;
    padding-block: 30px;
  }

  &-item {
    justify-self: start;

    &.is-user-reply {
      justify-self: end;
    }
  }
}